<footer class="d-flex flex-wrap justify-content-between align-items-center bg-light pb-1">

  <div class="col-md-4 d-flex align-items-center">
      <img class="m-3" src="../../../assets/img/Logo/LogoDr.svg" height="30px" alt="Logo">
    <span class="mb-3 mb-md-0 text-body-secondary">Dra. Susana Fatima Diaz</span>
  </div>

  <ul class="nav col-md-4 d-flex justify-content-end list-unstyled d-flex me-4">
    <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/dra.susanad" target="_blank"><img src="../../../assets/iconos/facebook.ico" height="30px" alt="Facebook"></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/susanadiaz71/" target="_blank"><img src="../../../assets/iconos/instagram.ico" height="30px" alt="Instagram"></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://wa.me/5493815950476" target="_blank"><img src="../../../assets/iconos/whatsapp.ico" height="30px" alt="WatsApp"></a></li>
  </ul>
</footer>
